# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Data and Models (Crucial for fraud datasets)
data/
models/

# IDEs
.vscode/
.idea/
.DS_Store
